@font-face {
    font-family: 'Poppins';
    src: url(ressource/font/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Space';
    src: url(ressource/font/SpaceMission-rgyw9.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
}
:root {
    --mainColor:rgb(0, 213, 64);
    --secondColor:rgb(0, 135, 0);
    --thirdColor:rgb(109, 235, 95);
    --mainBlack:#161616;
    --mainWhite:rgb(255, 255, 255);
    --iconSize:30px;
    --shadow:rgba(0, 0, 0, 0.387);
    --mainBlue:rgb(0, 174, 255);
}
body {
    font-family: 'Poppins';
    height: 5000px;
    margin: 0;   
}
::-webkit-scrollbar {
    width: 10px;
    color: green;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--mainColor);
    border-radius: 10px;
  }
/*header*/ 
.account {
    cursor: pointer;
}
header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(34, 34, 34);
    color: white;
    padding: 5px;
    z-index: 50;
    box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.496);
   
}
.icon + h3 {
    margin-left: 10px;
}
header .header-elemnts div {
    transition: 0.2s ease;
    cursor: pointer;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    position: relative;
    
}

header .header-elemnts div:hover {
   text-shadow: 0px 0px 2px white;
}

header .header-elemnts div:hover , .icon {
    filter: drop-shadow(0px 0px 2px white);
    -webkit-filter: drop-shadow(0px 0px 2px white);
}
.list-container {
    color: white;
    position: relative;
}
.all-products-list {
    position: absolute;
    background-color: rgb(34, 34, 34);
    width: 25%;
    margin-left: 20px;
    padding: 20px;
    border-radius: 0px 0px 8px 0px;
    z-index: 1;
    -webkit-border-radius: 0px 0px 8px 0px;
    -moz-border-radius: 0px 0px 8px 0px;
    -ms-border-radius: 0px 0px 8px 0px;
    -o-border-radius: 0px 0px 8px 0px;
    box-shadow: 0px 5px 15px 2px var(--shadow);
    transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
}


/*Nav side*/
nav {
    height: 60px;
    background-image: linear-gradient(20deg,var(--mainColor),var(--secondColor));
    box-shadow: 0px 5px 15px 2px black;
    margin: 0;
}
main {
    margin: 0;
}
.logo {
    color: white;
    font-size: 2rem;
    text-shadow: 0px 0px 3px var(--thirdColor);
    font-family: 'Space';
}
nav h3 {
    color: white;
    font-family:'Poppins' ;
    font-size: 20px;
}
.nav-search {
    height: 60%;
    width: 40%;
    border: none;
    border-bottom: 2px solid var(--mainWhite);
    background-color: transparent;
    color: white;
    font-size: 15px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.nav-search::placeholder {
    color: var(--mainWhite);
    font-family: 'Poppins';
}
.nav-search:focus {
    outline: none;
    scale: 1.1;
}
.icon {
    width: var(--iconSize);
    height: var(--iconSize);
    filter: invert();
    -webkit-filter: invert();
    cursor: pointer;
}
.panier {
    position: relative;
}
.item-added {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1;
    font-family: 'Poppins';
}
.added-item {
    height: 80%;
    overflow: scroll;
}
.check-out {
    border:1px solid var(--mainColor);
    background-color: transparent;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-family: 'Poppins';
    color: var(--mainColor);
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
/*End Nav Side*/
/*Scroll Up button*/
.toUp {
    visibility: hidden;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(-20deg,var(--mainColor),var(--secondColor));
    position: fixed;
    z-index: 2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    bottom: 60px;
    right:20px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.622);
}
.flipToUp {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
/*First section */ 
.recommended  {
    margin: 12vw;
}
.decouvrir {
    width: 40%;
    min-height: 500px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: #161616;
    margin: 10px;
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0px 2px 15px 2px var(--shadow);
    border: 3px solid var(--mainColor);
    
}
.decouvrir h3 {
    margin-bottom: 10%;
}
.rec {
    width: 60%;
    min-height: 500px;
    background-color: #161616;
    margin: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 0px 2px 15px 2px var(--shadow);
    border: 3px solid var(--mainColor);
}
h2 , h3 , p {
    font-family: 'Poppins';
}
.comp {
    width: 48%;
    background-color: var(--mainColor);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 0px;
    margin-bottom: 15%;
    margin-left: 2%;
    overflow: hidden;
    border: 1px solid white;
    font-family: 'Poppins';


}
.comp h3 {
    font-size: 15px;
    margin-top: 10%;
}

@media screen and (max-width:990px) {
    #account2 {
        display: none;
    }
    .com-container {
        
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }
    .rec, .decouvrir{
        width: 100%;
    }
    .comp  {
        width: 48%;
    }
    .item-card {
        width: 150%;
    }
    
}
.separt {
    height: 2px;
    background-color: var(--mainBlack);
}
.separator h2 {
    margin: 0 20px;
}
.separator {
    margin-top: 150px;
    margin-bottom: -100px;
}
.separator a {
    color: gray;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.separator a:hover {
    color: black;
}
.sep1 {
    width: 20vw;
}
.sep2 {
    width:20vw
}
.item-card {
    width: 30%;
    height: 100%;
    border: 2px solid white;
    border-radius: 8px ;
    -webkit-border-radius: 8px ;
    -moz-border-radius: 8px ;
    -ms-border-radius: 8px ;
    -o-border-radius: 8px ;
    position: relative;
    color: white;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 0px 10px 2px var(--shadow);
    margin: 5px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

@keyframes border-rotate {
    0% {
       border-top: 1px solid var(--thirdColor);
    }
    25% {

        border-right: 1px solid var(--mainColor);
    }
    50% {

        border-bottom: 1px solid var(--mainColor);
    }
    75% {
 
        border-left: 1px solid var(--mainColor);
    }
    100% {
        border:1px solid var(--mainColor);
    }
}



.item-card:hover {
    box-shadow: 0px 5px 15px 2px var(--shadow);
    animation-name:border-rotate ;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.item-card img {
    scale: 1.59;
    
    z-index: 0;
}
.item-descr {
    font-family: 'Poppins';
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    box-shadow: 0px -2px 10px 2px rgba(0, 0, 0, 0.465);
    z-index: 2;
    background-image: linear-gradient(20deg,var(--mainColor),var(--secondColor));
}

.item-descr h4 {
    
    text-shadow: 0px 0px 5px rgb(3, 255, 20);
}
.rec #h3-rec {
    color:white;
    justify-self: flex-start;
    margin-top: -60px;
    margin-bottom: 50px;
}
.add-to-cart-heart {
    position: absolute;
    top:0px;
    right: 0px;
    border: 1px solid white;
    background-color: var(--thirdColor);
    width: 50px;
    height: 50px;
    border-radius: 8px 0px 0px 8px;
    -webkit-border-radius: 8px 0px 0px 8px;
    -moz-border-radius: 8px 0px 0px 8px;
    -ms-border-radius: 8px 0px 0px 8px;
    -o-border-radius: 8px 0px 0px 8px;
    box-shadow: 0px 0px 15px 3px black;
    padding: 2px;
    transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    animation: border-rotate;
    -webkit-animation: border-rotate;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
.item-card:hover img:not(.icon) {
    filter: blur(1px);
}
.item-card:hover .add-to-cart-heart {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}

.panier-item-image {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.item-number {
    border: none;
    width: 40px;
    border: 1px solid var(--mainColor);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.panier-item {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border: 1px solid var(--secondColor);
    position: relative;
}
.panier-list {
    border:2px solid var(--thirdColor);
    width: 400px;
    min-height: 500px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: #eee;
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    position: absolute;
    right: 30px;
    z-index: 80;
    top: 50px;
    box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.459);
    height: 80%;
    overflow-y: scroll;
}
.showList {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
}

.delete-button {
    filter: none;width: 20px;height: 20px;

}
.delete-item {
    position: absolute;
    top:10px;
    right:10px;
}
.toggle-header {
    display: none;
}
.displayHeader {
    display:block;
    transform:rotateY(0deg);
    -webkit-transform:rotateY(0deg);
    -moz-transform:rotateY(0deg);
    -ms-transform:rotateY(0deg);
    -o-transform:rotateY(0deg);
}
.displayHeaderElements {
    display:flex;flex-direction:column
}
@media screen and (max-width:990px) {
    .rec {
        min-height: 1100px;
    }
    .item-card {
        width: 70%;
    }
    .panier-list {
        width: 80vw;
    }
    .logo {
        justify-self: center;
        align-self: center;
    }
    .toggle-header {
        display: block;
    }
    .all-products-list {
        width:60vw;
        margin: 0;
    }
}
@media screen and (max-width:1200px) {
    header {
        display: none;
        transform: rotateY(90deg);
        -webkit-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
        -ms-transform: rotateY(90deg);
        -o-transform: rotateY(90deg);
    }
    .nav-search ,.account{
        display: none;
    }

    .recommended {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:50px
    }
    .rec, .decouvrir{
        width: 100%;
        transform: translateY(80px);
        -webkit-transform: translateY(80px);
        -moz-transform: translateY(80px);
        -ms-transform: translateY(80px);
        -o-transform: translateY(80px);
    }
    .all-rec {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .toggle-header {
        display: block;
    }
}
/*PRODUCTS CARD */ 

.add-btn {
    border:1px solid var(--mainColor);
    background-color: transparent;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-family: 'Poppins';
    color: var(--mainColor);
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.add-btn:hover {
    border: 1px solid white;
    background-color: var(--mainColor);
    color: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.404);
}
.products {
    margin: 200px 180px;
    position: relative;
    overflow: hidden;
}

.circle {
    position: absolute;
    width: 300px;
    height: 300px;
    background-image: linear-gradient(20deg,var(--mainColor),var(--thirdColor));
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: -150px;
    left:-100px;
    z-index: -1;
}
.product-card {
    width:30%;
    height: 400px;
    background-color: white;
    overflow: hidden;
    position: relative;
    border: 2px solid var(--mainColor);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    z-index: 10;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.308);
    padding: 5px;
    margin-bottom: 50px;
    text-align: center;
}
.product-card h4 {
    margin-bottom: 40px;
    text-shadow: 0px 0px 5px rgba(255, 0, 0, 0.364);
    color: red;
}
.product-image {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
    filter: drop-shadow(0px 0px 10px var(--mainColor));
    -webkit-filter: drop-shadow(0px 0px 10px var(--mainColor));
}
@media screen and (max-width:1200px) {
    .product-card {
        width: 45%;
        margin: 2%;
    }
    .products {
        margin:200px 80px
    }
}
@media screen and (max-width:800px) {
    .products {
        margin:200px 80px
    }
    .product-card {
        width: 80%;
        
    }
}

/* PROMO CARD*/

.promotion {
    margin:200px 80px;
    flex-wrap: wrap;
    position: relative;
}
.promo-card {
    transition: 0.5s;
    width:30%;
    height: 270px;
    background-image: linear-gradient(20deg,var(--mainColor),var(--thirdColor));
    animation-iteration-count: infinite;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.474);
    margin: 50px;
    text-align: center;
    padding: 10px;
    color: white;
    overflow: hidden;
    border: 1px solid white;
    overflow: hidden;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    cursor: pointer;
}
.promo-card img {
    width: 40%;
    filter: drop-shadow(0px 0px 10px black);
    -webkit-filter: drop-shadow(0px 0px 10px black);
}

.promo-card div {

    width: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-image: linear-gradient(20deg,var(--mainColor),var(--thirdColor));
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.346);
    border: 2px solid var(--mainColor);
}
table  {
    margin :20px;
    font-size: 18px;
}
table tr th {
    margin-bottom: 20px;
    padding-right: 20px;
}
.showPromo {
    height:500px;
}
.promo-card button {
    border:2px solid var(--mainColor);
    background-color: white;
    color: var(--mainColor);
    width: 200px;
    height: 50px;
    font-family: 'Poppins';
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    font-weight: bold;
}
.promo-card button:hover {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.245);
    animation: border-rotate;
    -webkit-animation: border-rotate;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
@media screen and (max-width:800px) {
    .promo-card {
        width: 100vw;
        margin: 0;
        margin-bottom: 20px;
    }
}
