@font-face {
    font-family: 'Poppins';
    src: url(../ressource/font/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Space';
    src: url(../ressource/font/SpaceMission-rgyw9.otf);
}
* {
    box-sizing: border-box;
    margin: 0;

}
body {
    display: flex;
    font-family: 'Poppins';
}
@media screen and (max-width:800px) {




}
:root {
    --mainColor:rgb(0, 213, 64);
    --secondColor:rgb(0, 135, 0);
    --thirdColor:rgb(109, 235, 95);
    --mainBlack:#161616;
    --mainWhite:rgb(255, 255, 255);
    --iconSize:30px;
    --shadow:rgba(0, 0, 0, 0.387);
    --mainBlue:rgb(0, 174, 255);
}
aside {
    grid-area: side;
    background-image: linear-gradient(20deg,var(--mainColor),var(--thirdColor));
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
    color: white;
    width: 20%;
}

aside #acs  {
    margin: 30px 0 50px 0;
}
.icon {
    width: 35px;
    height: 35px;
    padding: 2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid black;
}
.account {
    color: black;
    width: 90%;
    height: 50px;
    display: flex;
    background-image: linear-gradient(20deg,rgba(255, 255, 255, 0.194),rgba(255, 255, 255, 0.464));
    padding: 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.173);
    justify-content: space-around;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    
    
}
.account h2 {
    font-size: 1.5rem;
}
.account:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.406);
    background-color: var(--secondColor)
}
main {
    height: 100vh;
    background-color: #eee;
    width: 80%;
}
.foot-aside h3 {
    color: white;
    margin-top: 200px;
    font-family: 'Space';
}
main nav {
    height: 50px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
    display: flex;
    justify-content: space-around;
}
nav input {
    width:60%;
    height: 40px;
    border:none;
    border-bottom: 1px solid gray;
    margin-left: 20px;
}
nav input:focus {
    outline: none;
}
.logout:hover {
    background-color: rgb(255, 0, 0);

}
main section {
    padding: 30px;
}
.burger-toggle {
    border: none;
    position: absolute;
    left: 10px;
    cursor: pointer;
    top: 0px;
    filter: invert();
    -webkit-filter: invert();
}
.account-burger {
    margin: 60px 0 50px 0;
}
.aside-burger {
    
    width: 5%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    padding: 5px;
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aside-burger .icon {
    cursor: pointer;
}
.aside-burger .icon {
    filter: invert();
    -webkit-filter: invert();
    left: 20px;
}
.showBurger {
    display: flex;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.hideAside {
    transform:rotateY(90deg);
    width:0;
    
}
.container-main-info {
    width: 90%;
    margin: 80px 0 ;
    display: flex;
    justify-content: space-between;

}
.card-home {
    width: 44%;
    height: 200px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.322);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    font-size: 50px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    outline: 2px solid black;
    position: relative;
    overflow: hidden;
}
.card-home:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.52);
    color: white;
}
.card-home:hover .circle {
    scale: 4;
}
.card-home h3 {
    font-size: 2.5rem;
    z-index: 2;
}
.main-icon {
    width: 80px;
    height: 80px;
    z-index: 2;
    filter: invert();
    -webkit-filter: invert();
}
.circle {
    position:absolute;
    width: 250px;
    height: 250px;
    background-color: var(--mainColor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 0;
    left: -15%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.logout-main {
    width: 10%;
    height: inherit;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:8px ;
    -webkit-border-radius:8px ;
    -moz-border-radius:8px ;
    -ms-border-radius:8px ;
    -o-border-radius:8px ;
    outline: 2px solid black;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    cursor: pointer;
    opacity: 0.5;
}
.logout-main:hover {
    opacity: 1;
}
.logout-main img {
    width: 50px;
    height: 50px;
    
}
@media screen and (max-width:800px) {
    body {
        flex-direction: column;
    }
    aside {
        width: 100%;
        height: 70vh;
        margin: 0;
    }
    main , section , nav {
        width: 100%;
        height: auto;
       
    }
    .foot-aside {
        display: none;
    }
    .container-main-info  {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card-home {
        width: 60vw;
        margin-bottom: 50px;
        
    }
    .burger-toggle {
        display: none;
    }
    .logout-main {
        width: 80%;
        padding: 10px;
    }
}