@font-face {
    font-family: 'Poppins';
    src: url(../ressource/font/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Space';
    src: url(../ressource/font/SpaceMission-rgyw9.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
}
:root {
    --mainColor:rgb(0, 213, 64);
    --secondColor:rgb(0, 135, 0);
    --thirdColor:rgb(109, 235, 95);
    --mainBlack:#161616;
    --mainWhite:rgb(255, 255, 255);
    --iconSize:30px;
    --shadow:rgba(0, 0, 0, 0.387);
    --mainBlue:rgb(0, 174, 255);
}
body {
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;   
}
.circle {
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: linear-gradient(20deg,var(--mainColor),var(--thirdColor));
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}
.c-1 {
    top: -250px;
    left: -250px;
    z-index: -1;
}

.circle-container +div {
    text-align: center;
    margin-bottom: 50px;
    text-shadow: 0px 0px 10px rgb(12, 233, 71);
}
.circle-container + div h2 {
    margin-top: -20px;
    color: white;
    font-size: 20px;
    font-family: 'Space';
}
.circle-container + div h1 {
    font-family: 'Space';
    color:var(--mainColor);
    font-size: 60px;
}


::-webkit-scrollbar {
    width: 10px;
    color: green;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--mainColor);
    border-radius: 10px;
  }

.container {
    grid-area: cont;
    display: grid;
    width:800px;
    overflow: hidden;
    position: relative;
    grid-template-columns: repeat(2,400px);
    background-color: white;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.534);
}
.sign-up {
    transition: 0.5s;
    background-image: linear-gradient(-20deg,var(--mainColor),var(--thirdColor));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    z-index:20;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}
.sign-up , .sign-in {
    padding: 50px;
    text-align: center;
    position: relative;
}
button {
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    outline: none;
    border: none;
    width: 100px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
button:hover {
    cursor: pointer;
    transform: scale(1.09);
    -webkit-transform: scale(1.09);
    -moz-transform: scale(1.09);
    -ms-transform: scale(1.09);
    -o-transform: scale(1.09);
    box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.261);
}
form button {
    background-color: var(--mainColor);
    color: white;
}
.sign-up button {
    border: 2px solid white;
    color: white;
    background-color: transparent;
}
input {
    width:300px;
    height:40px;
    outline: none;
    border: none;
    background-color: #eee;
}
a {
    text-decoration: none;
    color: black;
    padding-top: 20px;
}
input , button , a {
    margin-top: 20px;
}
.social-media {
    display: flex;
    filter: invert();
    -webkit-filter: invert();
    justify-content: space-around;
}
.icon-size {
    width: 40px;
    border: 1px solid white;
    padding: 6px;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    overflow: visible;
}
.showSignUp {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    width:110%;
}
.signUpDetails {
    position: absolute;
    right: 50px;
    top: 0;
}


@media screen and (max-width:1200px) {
    
    .container {
        width: 80vw;
        display: flex;
        flex-direction: column;
        margin: 20px;
        margin-bottom: 200px;
    }
    .showSignUp {
        transform: translateY(-110%) translateX(0);
        -webkit-transform: translateY(-110%) translateX(0);
        -moz-transform: translateY(-110%) translateX(0);
        -ms-transform: translateY(-110%) translateX(0);
        -o-transform: translateY(-110%) translateX(0);
        height: 380px;
        width: 100%;
        }
    .signUpDetails {
        transform: translateY(-80px) translateX(0);
        top:500px    ;
        -webkit-transform: translateY(-80px) translateX(0);
        -moz-transform: translateY(-80px) translateX(0);
        -ms-transform: translateY(-80px) translateX(0);
        -o-transform: translateY(-80px) translateX(0);
    }
    input {
        width: 50vw;
    }
    .circle-container +div {
        margin:20px;
    }
    .circle-container +div h1 {
        color: white;
    }
}
.moveSignIn{
    transition: 0.5s;
    transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
footer {
    width: 100%;
    min-height: 200px;
    margin-top: 100px;
    background-image: linear-gradient(20deg,var(--mainColor),var(--secondColor));
}
.logo-footer {
    width: 40%;
    color: white;
    font-family: 'Space';
}
.icon {
    width: var(--iconSize);
    height: var(--iconSize);
    filter: invert();
    -webkit-filter: invert();
    cursor: pointer;
}
.icon-sm {
    width: var(--iconSize);
    height: var(--iconSize);
    cursor: pointer;
}
.info-footer {
    width: 30%;
    color: white;
    font-family: 'Poppins';
    text-align: center;
    margin-top: 40px;
}
.contact-footer {
    width: 30%;
    color: white;
}
.contact-footer-sm p {
    display: inline;
}
.contact-footer-sm {
    margin: 15px;
}
@media screen and (max-width:1200px) {
    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 290px;
    }

}